<footer id="footer" role="contentinfo" >
    <a href="#" class="js-oiko-app--toggle oiko-app--toggle"><span class="toggle-to-map"><i class="fa fa-map-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right"></i></span><span class="toggle-to-timeline"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-tasks"></i></span></a>
    {{ page.footer }}
    <div class="clearfix footer footer--lower">
        <div class="footer__inner container">
            <div class="footer--lower__copyright">

              <p>© Sapienza Università di Roma - Piazzale Aldo Moro 5, 00185 Roma - (+39) 06 49911 - CF 80209930587 PI 02133771002</p>
            </div>
        </div>
    </div>
</footer>
