<header role="banner" class="clearfix navigation-bar">
    <div class="navigation-bar--center site-slogan heading-style-h1"><a href="/">{{  site_slogan }}</a></div>
    <ul class="">
        <li class="tabs-title"><a href="#" data-pane-id="main-menu"><i class="fa fa-bars" title="Main menu"></i></a></li>
        <li class="tabs-title"><a href="#" data-pane-id="legend" class="js-legend-tab-link disabled"><i class="fa fa-filter" title="Legend"></i></a></li>
        <li class="tabs-title"><a href="#" data-pane-id="information" class="disabled"><i class="fa fa-map-marker" title="Information"></i></a></li>
    </ul>

</header>
